// Checkbox Styles
@checkbox-bg: black;
@checkbox-color: white;
@checkbox-font-size: 15px;
@checkbox-margin: 2px;

.aman-checkbox {
    background-color: @checkbox-bg;
    color: @checkbox-color;
    font-size: @checkbox-font-size;
    margin: @checkbox-margin;
}