// Label Styles
@label-bg: black;
@label-font-size: 15px;
@label-margin: 2px;

.aman-label {
    background-color: @label-bg;
    font-size: @label-font-size;
    margin: @label-margin;

    &.radio {
        display: inline-flex;
        align-items: center;
        margin-right: 10px;
        font-size: 18px;
        cursor: pointer;
    }
}