// Picasso Styles
.picasso-mode-indicator {
    position: fixed;
    right: 20px;
    bottom: 80px;
    padding: @modal-padding;
    background: @modal-bg;
    color: @modal-text;
    border-radius: @modal-radius;
    z-index: 10000;
}